<div class="fixed-plugin">
    <a class="fixed-plugin-button position-fixed px-3 py-2">
        <i class="fa fa-cog text-dark"> </i>
    </a>
    <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">
            <div class="float-start">
                <h5 class="mt-3 mb-0">Настройки</h5>
                <p>Настройте нужные вам опции</p>
            </div>
            <div class="float-end mt-4">
                <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0">
            <!-- Sidebar Backgrounds -->
            <div>
                <h6 class="mb-0">Цвет</h6>
            </div>
            <a href="javascript:void(0)" class="switch-trigger background-color">
                <div class="badge-colors my-2 text-start">
                    <span class="badge filter bg-gradient-primary {% if user.sidebar_color == 'primary' %}active{% endif %}"
                          data-color="primary"
                          onclick="sidebarColor(this, '{{ csrf_token }}')"></span>
                    <span class="badge filter bg-gradient-dark {% if user.sidebar_color == 'dark' %}active{% endif %}"
                          data-color="dark"
                          onclick="sidebarColor(this, '{{ csrf_token }}')"></span>
                    <span class="badge filter bg-gradient-info {% if user.sidebar_color == 'info' %}active{% endif %}"
                          data-color="info"
                          onclick="sidebarColor(this, '{{ csrf_token }}')"></span>
                    <span class="badge filter bg-gradient-success {% if user.sidebar_color == 'success' %}active{% endif %}"
                          data-color="success"
                          onclick="sidebarColor(this, '{{ csrf_token }}')"></span>
                    <span class="badge filter bg-gradient-warning {% if user.sidebar_color == 'warning' %}active{% endif %}"
                          data-color="warning"
                          onclick="sidebarColor(this, '{{ csrf_token }}')"></span>
                    <span class="badge filter bg-gradient-danger {% if user.sidebar_color == 'danger' %}active{% endif %}"
                          data-color="danger"
                          onclick="sidebarColor(this, '{{ csrf_token }}')"></span>
                </div>
            </a>
            <!-- Sidenav Type -->
            <div class="mt-3">
                <h6 class="mb-0">Тип бокового меню</h6>
                <p class="text-sm">Выберите между двумя видами меню</p>
            </div>
            <div class="d-flex">
                <button class="btn bg-gradient-primary w-100 px-3 mb-2 {% if user.sidebar_type == 'bg-transparent' %}active{% endif %}"
                        data-class="bg-transparent"
                        onclick="sidebarType(this, '{{ csrf_token }}')">Прозрачный
                </button>
                <button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2 {% if user.sidebar_type == 'bg-white' %}active{% endif %}"
                        data-class="bg-white"
                        onclick="sidebarType(this, '{{ csrf_token }}')">Белый
                </button>
            </div>
            <p class="text-sm d-xl-none d-block mt-2">Вы можете изменить тип меню на полной версии.</p>
            <!-- Navbar Fixed -->
            <div class="mt-3">
                <h6 class="mb-0">Закрепить меню</h6>
            </div>
            <div class="form-check form-switch ps-0">
                <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed"
                       onclick="navbarFixed(this, '{{ csrf_token }}')">
            </div>
            <hr class="horizontal dark my-sm-4">
            <a target="_blank" class="btn bg-gradient-dark w-100"
               href="">Связаться с нами</a>
            <a target="_blank" class="btn bg-gradient-light w-100"
               href="">Tech Hunter</a>
        </div>
    </div>
</div>
